{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<style>
	button.buy-btn {
		border: 1px, solid #DA5B00 !important;
		background: #DA5B00 !important;
	}

	button.buy-btn .ui-button-text {
		color: #ffffff;
	}

	.ui-widget-header {
		border: 1px solid #ffffff !important;
		background: #ffffff !important;
	}
	{% block style %}
	{% endblock style %}
	</style>
	<title></title>
</head>
<body>
<nav class="main-nav">
	<ul>
		<li><a href="{% url 'dashboard' %}">Digital Marketplace</a></li>
	</ul>
	<ul>
		<li><a href="{% url 'products:list' %}">Products</a></li>
		<li><a href="{% url 'tags:list' %}">Tags</a></li>
		<li><a href="{% url 'library' %}">Library</a></li>
	</ul>
</nav>
<div class="main-content">
{% block content %}
<p>this is super</p>
{% endblock content %}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'js/django.csrf.js' %}"></script>
<script>
$(document).ready(function(){
	{% block jquery %}
	{% endblock jquery %}
})
	
</script>
</div>
</body>
</html>