{% extends "base.html" %}
{% load get_thumbnail %}

{% block content %}
<h1>Library</h1>
<p>
	<form method="GET" action="">
		<input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}" />
		<input type="submit" value="Search"  />
	</form>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Product</th>
			<th>Image</th>
			<th></th>
		</tr>
	</thead>
	{% for instance in product_list %}
	<tbody>
		<tr>
			<td>
				<a href="{{ instance.get_absolute_url }}">
					{{ instance.title }}
				</a>
			</td>
			<td>
			{% if instance|get_thumbnail:"micro" %}
				<a href="{{ instance.get_absolute_url }}">
					<img src="{{ instance|get_thumbnail:'micro' }}" alt="">
				</a>
				<br/>
			{% endif %}		
			</td>
			<td>
				<a href="{{ instance.get_download }}">Download</a><br/>		
			</td>
		</tr>
	</tbody>
	{% empty %}
	<li>No Products in library yet, please shop now.</li>
	{% endfor %}
</table>

{% endblock content %}	

